  <div fxLayout.xs="column" fxLayoutAlign="center center">

    <button mat-button
            class="language-button"
            [matMenuTriggerFor]="languageMenu">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLocale.flag+'.png'">
        <span class="iso text-uppercase">{{selectedLocale.id}}</span>
      </div>
    </button>

    <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngFor="let locale of localesInfo" (click)="setLocale(locale)">
        <span fxLayout="row" fxLayoutAlign="start center">
            <img class="flag mr-16" [src]="'assets/images/flags/'+locale.flag+'.png'">
            <span class="iso">{{locale.title}}</span>
        </span>
      </button>
    </mat-menu>
  </div>

      <!--
    <mat-card>
      <mat-card-title>{{'ngxauthfirebaseui.signInTabText' | translate}}</mat-card-title>
      <ngx-auth-firebaseui
        [signInTabText]="'ngxauthfirebaseui.signInTabText' | translate"
        [signInCardTitleText]="'ngxauthfirebaseui.signInCardTitleText' | translate"
        [loginButtonText]="'ngxauthfirebaseui.loginButtonText' | translate"
        [forgotPasswordButtonText]="'ngxauthfirebaseui.forgotPasswordButtonText' | translate"
        [nameText]="'ngxauthfirebaseui.nameText' | translate"
        [nameErrorRequiredText]="'ngxauthfirebaseui.nameErrorRequiredText' | translate"
        [nameErrorMinLengthText]="'ngxauthfirebaseui.nameErrorMinLengthText' | translate"
        [nameErrorMaxLengthText]="'ngxauthfirebaseui.nameErrorMaxLengthText' | translate"
        [emailText]="'ngxauthfirebaseui.emailText' | translate"
        [emailErrorRequiredText]="'ngxauthfirebaseui.emailErrorRequiredText' | translate"
        [emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText' | translate"
        [passwordText]="'ngxauthfirebaseui.passwordText' | translate"
        [passwordErrorRequiredText]="'ngxauthfirebaseui.passwordErrorRequiredText' | translate"
        [registerTabText]="'ngxauthfirebaseui.registerTabText' | translate"
        [registerCardTitleText]="'ngxauthfirebaseui.registerCardTitleText' | translate"
        [registerButtonText]="'ngxauthfirebaseui.registerButtonText' | translate"
        [guestButtonText]="'ngxauthfirebaseui.guestButtonText' | translate"
        [resetPasswordTabText]="'ngxauthfirebaseui.resetPasswordTabText' | translate"
        [resetPasswordInputText]="'ngxauthfirebaseui.resetPasswordInputText' | translate"
        [resetPasswordErrorRequiredText]="'ngxauthfirebaseui.resetPasswordErrorRequiredText' | translate"
        [resetPasswordErrorPatternText]="'ngxauthfirebaseui.resetPasswordErrorPatternText' | translate"
        [resetPasswordActionButtonText]="'ngxauthfirebaseui.resetPasswordActionButtonText' | translate"
        [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
        [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
        [emailConfirmationTitle]="'ngxauthfirebaseui.emailConfirmationTitle' | translate"
        [emailConfirmationText]="'ngxauthfirebaseui.emailConfirmationText' | translate"
      >
      </ngx-auth-firebaseui>
    </mat-card>
      -->

  <!--
  <mat-card class="my-3">
    <mat-card-content>
      <markdown src="assets/md/i18n/html.md"></markdown>
    </mat-card-content>
  </mat-card>
  -->
