<div class="chat-inner-container">
  <mat-toolbar>
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center" fxFlexFill>

          <button mat-icon-button (click)="onChatSideTriggered()">
            <mat-icon>menu</mat-icon>
          </button>


        <img class="avatar pointer" *ngIf="activeChat" [src]="activeChat.picture">

        <div class="activeChat">
            <h3 class="mat-body-2" *ngIf="activeChat">{{ activeChat.name }}</h3>
            <p class="mat-body-1" style="margin: 0" *ngIf="activeChat">Online</p>
        </div>


      <span fxFlex></span>
        <div fxLayout="row" fxLayoutAlign="end" >
            <button mat-icon-button [matMenuTriggerFor]="chatMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
  </mat-toolbar>

  <div class="chat-content" fxLayout="column" fxLayoutAlign="end stretch">
    <perfect-scrollbar >
      <div class="messages-container" *ngIf="activeChat">
        <div class="chat-message" *ngFor="let message of activeChat.messages" [ngSwitch]="message.who" fxLayout="column"
             fxLayoutAlign="end start">
          <div class="partner" *ngSwitchCase="'partner'" fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start start">
            <img class="avatar" [src]="activeChat.picture">
            <span class="message mat-elevation-z1">{{ message.message }}</span>
          </div>
          <div class="me" *ngSwitchCase="'me'" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="end start">
            <span class="message mat-elevation-z1">{{ message.message }}</span>
            <img class="avatar" [src]="avatar">
          </div>
        </div>
      </div>
    </perfect-scrollbar>

  </div>
  <div class="chat-respond" fxLayout="row" fxLayoutAlign="start center">
      <!--TODO: mat-input-container-->
      <mat-form-field fxFlex>
        <textarea matInput (keyup.enter)="onSendTriggered()" [(ngModel)]="newMessage"
                  placeholder="Enter the message you want to send"></textarea>
      </mat-form-field>
      <button (click)="onSendTriggered()" mat-fab color="primary">
        <mat-icon>send</mat-icon>
      </button>
    </div>
</div>


<mat-menu #chatMenu="matMenu">
  <button mat-menu-item>
    <mat-icon> account_circle</mat-icon>
    <span> Group chat information </span>
  </button>
  <button mat-menu-item (click)="onNoticeTriggered()">
    <mat-icon> volume_mute</mat-icon>
    <span> Group announcement </span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="clearMessages(activeChat)">
    <mat-icon> clear_all</mat-icon>
    <span> Clear chat history </span>
  </button>
</mat-menu>
