<div  fxLayoutAlign="space-around stretch" fxLayoutWrap >

  <mat-tab-group fxFlexFill>

    <mat-tab label="MobileNet">
      <ng-template matTabContent>
        <app-mobilenet-dash></app-mobilenet-dash>
      </ng-template>
    </mat-tab>
    <mat-tab label="CoCo-SSD">
      <ng-template matTabContent>
        <app-coco-ssd-dash></app-coco-ssd-dash>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>
