.video-container {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.text-small {
  font-size: small;
}

.no-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-scroll {
  overflow-y: scroll;
}
