<div class="video-container"
  fxLayout="row" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">

  <div fxLayout="column">
    <br>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex class="text-small" >
        <input matInput [(ngModel)]="vid" placeholder="YouTube ID">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button *ngIf="ytEvent !== 1"
          (click)="playVideo()">Play
        </button>
        <button *ngIf="ytEvent === 1"
          (click)="pauseVideo()">Pause
        </button>
        <button (click)="loadVideo()">load</button>
      </div>
      <div style="margin-left: 10px" f
        xLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <p class="text-small">State: </p>
        <pre>{{ ytEvent }}</pre>
      </div>
    </div>

    <youtube-player
      [videoId]="vid"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
      [playerVars]="playerVars">
    </youtube-player>
  </div>

  <mat-tab-group fxFill>
    <mat-tab label="Player">
      <p>Player Info: </p>
      <pre class="text-small">{{ player | json }} </pre>
    </mat-tab>
    <mat-tab label="Data API">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <p>Data API</p>
        <button (click)="getVideoInfo()">Info</button>
      </div>
      <div *ngIf="videoInfoSnippet$; else noVideoInfo"
        fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <p>Snippest Info</p>
        <pre class="text-small" *ngIf="videoInfoSnippet$"> {{ videoInfoSnippet$ | async | json }}</pre>
        <p>Details Info</p>
        <pre class="text-small" *ngIf="videoInfoDetails$"> {{ videoInfoDetails$ | async | json }}</pre>
      </div>
      <ng-template #noVideoInfo>Video 정보가 없습니다.</ng-template>
    </mat-tab>
    <mat-tab label="YTDL">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <p>YTDL API</p>
        <button (click)="getYtdlInfo()">Info</button>
      </div>
      <pre class="text-small" *ngIf="(ytdlInfo$ | async) as vidInfo; else noYtdlInfo"> {{ ytdlInfo$ | async | json }}</pre>

      <ng-template #noYtdlInfo>
        <p *ngIf="!(ytdlInfo$ | async) as vidInfo; else noProgress"> YTDL 정보가 없습니다. </p>
      </ng-template>
      <ng-template #noProgress>
        <mat-spinner [diameter]="25"></mat-spinner>
      </ng-template>
    </mat-tab>

    <mat-tab label="Cap.List">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <p>Caption List API</p>
        <button (click)="getCaptionInfo()">Info</button>
      </div>
      <pre class="text-small" *ngIf="captionInfoSnippet$; else noCaptionInfo"> {{ captionInfoSnippet$ | async | json }}</pre>
      <ng-template #noCaptionInfo>자막 List 정보가 없습니다.</ng-template>
    </mat-tab>
    <mat-tab label="Cap.Down">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <p>Caption Download API</p>
        <button (click)="captionDownload()">Info</button>
      </div>
      <pre class="text-small" *ngIf="captionDownload$; else noCaptionDownload"> {{ captionDownload$ | async | json }}</pre>
      <ng-template #noCaptionDownload>자막 Script 정보가 없습니다.</ng-template>
    </mat-tab>
    <mat-tab label="TimedText">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <p>TimedTextAPI</p>
        <button (click)="getTimedText()">Info</button>
      </div>
      <pre class="text-small" *ngIf="timedText$; else noTimedText"> {{ timedText$ | async  }}</pre>
      <ng-template #noTimedText>TimedText 정보가 없습니다.</ng-template>
    </mat-tab>
    <!--Scraper-->
    <mat-tab label="Scrapper">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <p>Scraper Caption</p>
        <button (click)="runCaptionScraper()">Info</button>
      </div>
      <!--
      <div *ngFor="let caption of scraperCaptions" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <p class="text-small">start: {{caption.start}}</p>
        <p class="text-small">dur: {{caption.dur}}</p>
        <p class="text-small">text: {{caption.text}}</p>
      </div>
      -->
      <pre class="text-small" *ngIf="scraperCaptions$; else noScraper"> {{ scraperCaptions$ | async | json }}</pre>
      <ng-template #noScraper>Scraper 정보가 없습니다.</ng-template>
    </mat-tab>

  </mat-tab-group>

</div>
