<div class="image-classfier"
  fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <div fxLayout="row" fxLayout="row wrap"  fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <h3>Image 분리:</h3>
    <div class="image-file">
      <label class="image-file-label">이미지 파일</label>
      <input type="file" class="image-file-input" (change)="fileChangeEvent($event)">
    </div>

    <div *ngIf="loading"
      fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
      <p>Loading..... MobileNet(Image)</p>
      <mat-spinner [diameter]=25 ></mat-spinner>
    </div>
  </div>

  <div *ngIf="imageSrc">
    <img [src]="imageSrc" #img *ngIf="imageSrc"/>
  </div>

  <div class="list-group">
    <div class="list-group-item"
      *ngFor="let prediction of predictions">
      {{prediction.className}} - {{prediction.probability}}
    </div>
  </div>

</div>
