<div class="coco-classfier"
  fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <br>

  <div fxLayout="row" fxLayout="row wrap"  fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <h3>Image 검색: </h3>
      <mat-form-field>
        <mat-label>SSD 모델 선택</mat-label>
        <mat-select [(value)]="selectedModel" name="model" (selectionChange)="onSelectChanged($event)">
          <mat-option value="lite_mobilenet_v2">SSD Lite Mobilenet V2</mat-option>
          <mat-option value="mobilenet_v1">SSD Mobilenet v1</mat-option>
          <mat-option value="mobilenet_v2">SSD Mobilenet v2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div class="image-file">
        <label class="image-file-label">이미지 파일(600x400): </label>
        <input type="file" class="image-file-input" (change)="fileChangeEvent($event)">
      </div>

      <div *ngIf="loading"
        fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
        <p>Loading..... {{selectedModel}}</p>
        <mat-spinner [diameter]=25 ></mat-spinner>
      </div>
    </div>
  </div>

  <img *ngIf="imageSrc"
    id="img" #img
    [src]="imageSrc"
    width="{{width}" height="{{height}}"/>
  <canvas id="canvas" #canvas
    width="{{width}" height="{{height}}">
  </canvas>

  <br>

</div>
