<div class="video-classfier" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <div *ngIf="loading"
    fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
    <p>Loading..... MobileNet(Video)</p>
    <mat-spinner [diameter]=25 ></mat-spinner>
  </div>

  <video autoplay playsinline muted id="webcam" width="300" height="300" #video></video>

  <div class="list-group">
    <div class="list-group-item" *ngFor="let prediction of predictions">
      {{prediction.className}} - {{prediction.probability}}
    </div>
  </div>
</div>
