<div  fxLayoutAlign="space-around stretch" fxLayoutWrap >

  <mat-tab-group fxFlexFill>

    <mat-tab label="Image Classifier">
      <ng-template matTabContent>
        <app-mobilenet-image></app-mobilenet-image>
      </ng-template>
    </mat-tab>
    <mat-tab label="Video Classifier">
      <ng-template matTabContent>
        <app-mobilenet-video></app-mobilenet-video>
      </ng-template>
    </mat-tab>
    <mat-tab label="Transfer Classifier">
      <ng-template matTabContent>
        <app-transfer-classifier></app-transfer-classifier>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>
