<div class="coco-classfier"
  fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <br>
  <div fxLayout="row" fxLayout="row wrap"  fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <h3>Video 검색: </h3>
      <mat-form-field>
        <mat-label>SSD 모델 선택</mat-label>
        <mat-select [(value)]="selectedModel" name="model" (selectionChange)="onSelectChanged($event)">
          <mat-option value="lite_mobilenet_v2">SSD Lite Mobilenet V2</mat-option>
          <mat-option value="mobilenet_v1">SSD Mobilenet v1</mat-option>
          <mat-option value="mobilenet_v2">SSD Mobilenet v2</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="loading"
        fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
        <p>Loading..... {{selectedModel}}</p>
        <mat-spinner [diameter]=25 ></mat-spinner>
      </div>
    </div>
  </div>

  <video
    id="webcam" #video
    autoplay playsinline muted
    (canplay)="onVideoCanPlay()"
    [hidden]="videoHidden"
    width="{{width}" height="{{height}}" >
  </video>
  <canvas id="canvas" #canvas
    width="{{width}" height="{{height}}">
  </canvas>

  <br>

</div>
