<div  fxLayoutAlign="space-around stretch" fxLayoutWrap >

  <mat-tab-group fxFlexFill>

    <mat-tab label="Image Multi-Object">
      <ng-template matTabContent>
        <app-coco-ssd-image></app-coco-ssd-image>
      </ng-template>
    </mat-tab>
    <mat-tab label="Video Objects(Canvas)">
      <ng-template matTabContent>
        <app-coco-ssd-video></app-coco-ssd-video>
      </ng-template>
    </mat-tab>
    <mat-tab label="Video Objects(svg)">
      <ng-template matTabContent>
        <app-coco-ssd-video-svg></app-coco-ssd-video-svg>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>
