<div class="coco-classfier"
  fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <br>

  <div class="video-container">
    <video
      #videoRef
      class="video-area"
      (canplay)="onVideoCanPlay()"
      loop
      crossorigin="anonymous"
      [width]="videoWidth" [height]="videoHeight"
      [src]="demoVideoUrl" >
    </video>
  </div>

  <svg
    [ngStyle]="{ top: videoBoundingRect.top+'px', left: videoBoundingRect.left+'px'}"
    [attr.width]="(videoBoundingRect.width-1)+'px'"
    [attr.height]="(videoBoundingRect.height-1)+'px'"
    [attr.viewBox]=" '0 0 '+videoBoundingRect.width+' '+ videoBoundingRect.height "
    *ngIf="videoBoundingRect && svgEnabled"
    class="svg-area"
    #svgRef
  >
    <defs>
      <filter x="0" y="0" width="1" height="1" id="solid">
        <feFlood flood-color="black"/>
        <feComposite in="SourceGraphic" in2="BackgroundImage" operator="atop" result="comp"/>
      </filter>
    </defs>

    <g *ngFor="let detection of currentDetections">
      <rect
            [attr.x]="detection.bbox[0]+'px'"
            [attr.y]="detection.bbox[1]+'px'"
            [attr.width]="detection.bbox[2]+'px'"
            [attr.height]="detection.bbox[3]+'px'"
            style="fill: transparent;stroke-width:2;stroke:rgb(255,0,0)"
      />
      <text filter="url(#solid)" [attr.x]="detection.bbox[0]+'px'" [attr.y]="detection.bbox[1]+17+'px'" font-family="sans" font-size="18"  fill="white">{{detection.class}}</text>
    </g>

  </svg>

  <br>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <button (click)="videoRef.play()" >PLAY</button>
    <button (click)="videoRef.pause()" >PAUSE</button>
    <button (click)="toggleSvgOverlay()" >TOGGLE OVERLAY({{svgEnabled}})</button>
  </div>

  <br>

  <div *ngIf="debug">
    <div *ngFor="let detection of currentDetections">
      videoBoundingRect: {{videoBoundingRect.width}}/{{videoBoundingRect.height}}
      elementWidth/Height: {{elementWidth}}/{{elementHeight}}
      intrinsicWidth/Height: {{intrinsicWidth}}/{{intrinsicHeight}}
      {{detection.bbox[0]}}, {{detection.bbox[1]}}, {{detection.bbox[2]}}, {{detection.bbox[3]}}
    </div>
  </div>

</div>
