<div class="webcam-classfier" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <h3>Transfer learning:</h3>

  <div class="webcam-classfier" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <button mat-flat-button (click)="onLeftClick($event)">Left</button>
      <p class="text-small">{{infoTexts[0]}}</p>
    </div>
    <video autoplay playsinline muted id="webcam" width="227" height="227" #video></video>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <button mat-flat-button (click)="onRightClick($event)">Right</button>
      <p class="text-small">{{infoTexts[1]}}</p>
    </div>
  </div>

  <button mat-flat-button (click)="onTestPrediction()">Prediction({{testPrediction}})</button>

  <div *ngIf="loading">
      <mat-spinner [diameter]=25 ></mat-spinner>
  </div>

  <div>training: {{training}}, recordSamples: {{recordSamples}}, testPrediction: {{testPrediction}}</div>

</div>
