:host {
  z-index: 4;
}

.main-toolbar {
  height: 64px;
  padding-left: 16px;
}

.more-btn {
  height: 100%;
  min-width: 70px;
}

.mat-icon-button {
  margin-right: 10px;
}

:host .user-auth {
  margin-right: 10px;
  ::ng-deep .mat-mini-fab {
    height: 24px;
    width: 24px;
    line-height: 24px;
    ::ng-deep .mat-button-wrapper {
      padding: 0;
      font-size: 8px; // small;
      color:white; //  red;
    }
  }
}


// ::ng-deep .mat-mini-fab {
//   height: 24px!important;
//   width: 24px!important;
// }

.no-user-avata {
  margin-top: 5px;
}
