<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar   class="mat-elevation-z4">
	<button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button>
    <button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button>

    <span class="spacer"></span>

    <button  mat-icon-button (click)="searchOpen = !searchOpen" fxHide="true" [fxHide.gt-xs]="false">
        <i class="material-icons">search</i>
    </button>
    <cdk-search-bar *ngIf="env.app.toolbar.search" [open]="searchOpen"></cdk-search-bar>

    <cdk-fullscreen></cdk-fullscreen>

    <cdk-toolbar-notification [notifications]="toolbarHelpers?.notifications"></cdk-toolbar-notification>

    <app-i18n *ngIf="env.app.toolbar.i18n"></app-i18n>

    <div *ngIf="env.app.toolbar.ngxAuth; else noNgxAuth" class="user-auth">
      <ngx-auth-firebaseui-avatar  *ngIf="user; else noUser" [links]="links"></ngx-auth-firebaseui-avatar>
    </div>
    <ng-template #noUser>
      <i class="material-icons no-user-avata">account_circle </i>
    </ng-template>
    <ng-template #noNgxAuth>
      <cdk-user-menu [currentUser]="toolbarHelpers?.currentUser"></cdk-user-menu>
    </ng-template>

    <div *ngIf="env.app.sidenav.right" >
      <button  mat-icon-button (click)="sidebar.toggle();">
          <i class="material-icons app-toolbar-menu">menu </i>
      </button>
    </div>

</mat-toolbar>
