.weather{
    margin: 10px 5px;
    height: 220px;
    margin: 10px;
    color:white;
    .weatherimage{
        background-image: url('https://www.adventuresaroundscotland.com/uploads/2/4/2/9/24290443/rattray-head-lighthouse-orig_orig.jpg');
        background-size: cover;
        height: 220px;
        box-shadow:inset 0 0 0 2000px rgba(63,81,181,.4);
    }

}
.place{
    text-align:center;
    margin: 0 auto;
}
.temperature{
    text-align:center;
    margin: 0 auto;
}
.weathericons{
    height: 40px;
    width: 40px;
    color: white;
    margin: 0 auto;
}
.weather-series {
    color: rgb(63,81,181);
    height: 40px;
    width: 40px;
    font-size: 40px;
}
.weather-next {
    color: #cfcfcf ;
    margin: auto;
}
.nav-item {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: default;

  &:hover {
    transform: translate(0, -8px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
  }
}
