
@mixin main($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .sidenav{
        background: mat-color($primary,400);
        overflow: hidden;
        position: relative;
        width: 250px;
    }
    .drawer{
        background: mat-color($primary,400);
        overflow: hidden;
        position: relative;
        width: 80px;
    }
    [no-over-flow] {
        overflow: hidden;
    }
    .router-outlet{
        position: relative;padding: 0px 5px;
    }
    .spacer {
        width: 100%;
    }

    .logo{
        font-size: 12px!important;
        font-family: Roboto;
        color:whited;
        margin-top: 8px!important;
        margin-left:10px!important;
    }
    .version {
        font-size: 10px!important;
        font-family: Roboto;
        margin-top: 20px!important;
        margin-left: 100px!important;
    }
}

.mat-drawer-inner-container {
  overflow: hidden!important;
}
