<div class="sigin"
  fxLayout="column" fxLayoutAlign="center center"
  [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')'}"
  style="
      height:100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      "
  >

  <div class="sigin-container" fxLayout="column" >
    <div class="mat-elevation-z4">
      <mat-card>
        <mat-card-title>
          <div fxLayout="row" fxLayout="row wrap" fxLayoutAlign="space-between center" >
            <p fxFlex>{{signinTitle}} </p>
            <app-i18n> </app-i18n>
            <ngx-auth-firebaseui-avatar *ngIf="user" [links]="links"></ngx-auth-firebaseui-avatar>
          </div>
          <div *ngIf="!env.production">
            <p class="debug-text">User ID: {{user?.uid}}</p>
          </div>
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="!user; else editUser">
              <ngx-auth-firebaseui
                appearance={{authConfig.appearance}}
                [providers]=authConfig.providers
                [guestEnabled]=authConfig.guestEnabled
                [registrationEnabled]=authConfig.registrationEnabled
                [resetPasswordEnabled]=authConfig.resetPasswordEnabled
                tabIndex={{tabIndex}}
                tosUrl={{authConfig.tosUrl}}
                privacyPolicyUrl={{authConfig.privacyPolicyUrl}}
                messageOnAuthSuccess={{authConfig.messageOnAuthSuccess}}
                messageOnAuthError={{authConfig.messageOnAuthError}}
                goBackURL={{authConfig.goBackURL}}

                (onSuccess)="onLoginSuccess($event)"
                (onError)="onLoginError()"

                [signInTabText]="'ngxauthfirebaseui.signInTabText' | translate"
                [signInCardTitleText]="'ngxauthfirebaseui.signInCardTitleText' | translate"
                [loginButtonText]="'ngxauthfirebaseui.loginButtonText' | translate"
                [forgotPasswordButtonText]="'ngxauthfirebaseui.forgotPasswordButtonText' | translate"
                [nameText]="'ngxauthfirebaseui.nameText' | translate"
                [nameErrorRequiredText]="'ngxauthfirebaseui.nameErrorRequiredText' | translate"
                [nameErrorMinLengthText]="'ngxauthfirebaseui.nameErrorMinLengthText' | translate"
                [nameErrorMaxLengthText]="'ngxauthfirebaseui.nameErrorMaxLengthText' | translate"
                [emailText]="'ngxauthfirebaseui.emailText' | translate"
                [emailErrorRequiredText]="'ngxauthfirebaseui.emailErrorRequiredText' | translate"
                [emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText' | translate"
                [passwordText]="'ngxauthfirebaseui.passwordText' | translate"
                [passwordErrorRequiredText]="'ngxauthfirebaseui.passwordErrorRequiredText' | translate"
                [registerTabText]="'ngxauthfirebaseui.registerTabText' | translate"
                [registerCardTitleText]="'ngxauthfirebaseui.registerCardTitleText' | translate"
                [registerButtonText]="'ngxauthfirebaseui.registerButtonText' | translate"
                [guestButtonText]="'ngxauthfirebaseui.guestButtonText' | translate"
                [resetPasswordTabText]="'ngxauthfirebaseui.resetPasswordTabText' | translate"
                [resetPasswordInputText]="'ngxauthfirebaseui.resetPasswordInputText' | translate"
                [resetPasswordErrorRequiredText]="'ngxauthfirebaseui.resetPasswordErrorRequiredText' | translate"
                [resetPasswordErrorPatternText]="'ngxauthfirebaseui.resetPasswordErrorPatternText' | translate"
                [resetPasswordActionButtonText]="'ngxauthfirebaseui.resetPasswordActionButtonText' | translate"
                [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
                [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
                [emailConfirmationTitle]="'ngxauthfirebaseui.emailConfirmationTitle' | translate"
                [emailConfirmationText]="'ngxauthfirebaseui.emailConfirmationText' | translate"
              >
              </ngx-auth-firebaseui>
            </div>
            <ng-template #editUser>
              <ngx-auth-firebaseui-user></ngx-auth-firebaseui-user>
            </ng-template>

          </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
