$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';
@debug "divider offset: #{$prefix}";

/*
.text-small {
  color: red;
}

// .sigin {
.#{$prefix} {
  &-container {
    .text-small {
      color: yellow;
    }
  }
}
*/

.#{$prefix} {

  &-container {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
    .debug-text {
      font-size: small;
      color: red;
    }
  }

  &-header {

  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}
