
<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

	<div fxFlex class="form-component-holder mat-elevation-z4">
		<mat-toolbar class="form-header">
			<h1 class="mat-headline center-align">Template Driven Forms</h1>
		</mat-toolbar>
		<div [hidden]="submitted" style="background-color: white;">

			<form (ngSubmit)="onSubmit()" fxLayout="column" >
				<mat-form-field >
					<input matInput type="text" [(ngModel)]="model.name" name="name" #name="ngModel" required minlength="4">
				</mat-form-field>

				<div  style="color:red" *ngIf="name.invalid && (name.dirty || name.touched)" class="mat-body-1 center-align">

					<div *ngIf="name.errors.required">
						Name is required.
					</div>
					<div *ngIf="name.errors.minlength">
						Name must be at least 4 characters long.
					</div>
				</div>
				<mat-form-field>
					<input matInput type="number"  [(ngModel)]="model.number"  name="number" #number="ngModel" required minlength="10">
				</mat-form-field>
				<div  style="color:red" *ngIf="number.invalid && (number.dirty || number.touched)"
				>
					<div *ngIf="number.errors.required">
						number is required.
					</div>
					<div *ngIf="number.errors.minlength">
						number must be at least 10 characters long.
					</div>
        </div>

				<mat-form-field fxFlex>
      				<input matInput placeholder="Character count (max. 100)" maxlength="100"	#characterCountHintExample value="Hello! How are you today?">
      				<mat-hint align="end">{{ characterCountHintExample.value.length }} / 100
      				</mat-hint>
    			</mat-form-field>
    			<mat-form-field>
    			   <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" >
    			   <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    			 </mat-form-field>
				<button mat-raised-button type="submit"  [disabled]="name.invalid||number.invalid" class="mat-subheading-2 center-align button-style">Submit</button>
			</form>

		</div>

		<div [hidden]="!submitted" style="background-color: white;">
			<div fxLayout="column" fxLayoutAlign="space-around stretch" >
				<h2 class="mat-subheading-2 center-align">You submitted the following:</h2>
				<div fxLayout="row" fxLayoutGap="20px" class="mat-body center-align">
					<div >Name</div>
					<div>{{ model.name }}</div>
				</div>
				<div fxLayout="row" fxLayoutGap="20px" class="mat-body center-align">
					<div>Number</div>
					<div>{{ model.number }}</div>
				</div>
				<div fxLayout="row" fxLayoutGap="20px" class="mat-body center-align">
					<div >Password</div>
					<div>{{ model.pwd}}</div>
				</div>
				<br>
				<button mat-raised-button  type="submit" class="button-style" (click)="submitted=false">Edit</button>
			</div>
		</div>
	</div>
</div>
